session.vim

#ignore node modules
node_modules/
git-local-clone/

quick-test/chromedriver*
docker-postgres/pgdata*

#ignore temp files
error.tmp
*.bak
tags
*.tags
dump.rdb
*.orig
.DS_Store
.ctags

#compiled code
*.pyc
*.class
